@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Source Code Pro", serif;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: "Source Code Pro", serif;
  flex-direction: column;
}

.main-title {
  font-weight: 800;
  font-size: 50px;
}

.date-title {
  font-weight: 800;
  font-size: 35px;
}

.prompt-desc {
  font-weight: 400;
  font-size: 20px
}

.grid-item {
  border: 1px solid white;
  border-radius: 15px;
  color: black;
  font-family: "Source Code Pro", serif;
  font-size: 25px;
}

canvas {
  margin: 0 auto 50px;
  border: 2px solid white;
  border-radius: 15px;
}